<div class="container">
<%= bootstrap_form_with(model: @post, local: true) do |f| %>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="well well-sm top-m2">
                <form>
                <div class="row">
                    <div class="col-md-6">
                        
                             <div class="form-group">
                          <%= f.select :materials, ["Paper", "Plastic", "Metals"], label: "Materials:" %>
                        </div>
                        <div class="form-group">
                          <%= f.select :pounds, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ], label: "Lbs:" %>
                        </div>
                        <div class="form-group">
                            <%= f.text_field :pickup_location, label: "Pickup Location:" %>
                        </div>
                       <div class="form-group">
                            <%= f.date_select :pickup_time, label: "Pickup Time:" %>
                            <%= f.hidden_field(:user_id, value: "#{@user.id}") %>
                        </div>
                    <div class="col-md-12">
                    <%= f.submit({:class=> 'btn btn-outline-primary'}) %>
                    </div>
                </div>
                </form>
            </div>
        </div>
       
    </div>
    <% end %>
</div>



 
